/**
 * Media Picker
 *
 * @author Takuto Yanagida
 * @version 2022-02-02
 */

.wpinc-dia-media-picker {
	.add-row {
		text-align: right;
		margin-top: 0.5em;

		.item + & { margin-top: 1.5em; }
	}

	.table {
		width         : 100%;
		display       : flex;
		flex-direction: column;
		position      : relative;
	}

	.item-template {
		display: none;
	}

	.item-placeholder {
		height: 140px;
	}

	.item {
		display         : flex;
		background-color: rgba(255, 255, 255, 0.75);

		& + .item {
			margin-top: 1em;
		}

		&.ui-sortable-helper {
			margin-top: 0;
		}

		> div:nth-child(2) {
			flex-grow: 1;

			display       : flex;
			flex-direction: column;
			align-items   : stretch;
			flex-wrap     : wrap;
		}
	}

	.item-ctrl {
		display       : flex;
		flex-direction: column;

		width        : 40px;
		padding-top  : 0.15em;
		padding-right: 16px;

		.handle {
			flex-grow: 1;

			display        : flex;
			justify-content: center;
			align-items    : center;

			max-height: 3rem;
			color     : #bbb;
			cursor    : move;
		}

		.delete-label {
			display       : flex;
			flex-direction: column;
			align-items   : center;

			color      : #a00;
			font-size  : 11px;
			line-height: 1;
			white-space: nowrap;
		}

		.delete {
			margin-top  : 2px;
			margin-right: 0;
			color       : #a00;
		}
	}

	.item-cont {
		flex-grow: 1;
		width    : calc(100% - 40px);

		.is-deleted > & {
			opacity       : 0.5;
			pointer-events: none;
		}

		> div {
			display    : flex;
			flex-wrap  : wrap;
			align-items: center;
			padding    : 2px 0;

			&:nth-child(1) > input {
				flex-grow: 1;
			}

			&:nth-child(2) {
				width: 100%;
			}

			span:first-child {
				display  : inline-block;
				min-width: 4.5rem;
				width    : calc((20rem - 100%) * 1000);
				max-width: 100%;

				padding-right: 4px;
				text-align   : left;
			}

			span:last-child {
				flex-grow: 1;
				display  : flex;
			}

			.select {
				margin-left: 4px !important;
			}
		}
	}

	.filename {
		margin   : 1px;
		flex-grow: 1;

		padding   : 3px 5px;
		border    : 1px solid #eee;
		word-break: break-all;
	}
}
