/**
 * Custom Post Thumbnail
 *
 * @author Takuto Yanagida
 * @version 2022-02-01
 */

.wpinc-dia-single-media-picker {
	.thumbnail > img {
		object-fit  : contain;
		aspect-ratio: 3 / 2;
		width       : 100%;
	}

	.select {
		margin-left: 4px !important;
	}

	.row {
		display   : flex;
		margin-top: 1em;
	}

	.delete {
		margin-right: auto;
		color       : #a00;
	}
}
